body {
  background-color: lightgray;
}

#Present {
  font-family: 'Courier New', Courier, monospace;
  border: 15px;
  border-style: double;
  border-color: blueviolet;
}

#Warby {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border: 20px;
  border-style: dotted;
  border-color: chartreuse;
}

#Past {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border: 30px;
  border-style: groove;
  border-color: cornflowerblue;
}

h3 {
  color: aquamarine;
}
